*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 20vh;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header li:hover{
    text-decoration: none;
    color: blue;
   text-transform: uppercase;
   cursor: pointer;
}
nav{
    width: 50vh;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    
}
.imagemPrincipal{
    background-image: url("https://www.dafont.com/forum/attach/orig/6/5/652091.png?1");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    background-position: center;
}
main{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
figure img{
    height: 50vh;
}
figure{
    box-shadow: 0px 20px 40px #000;
    background: green;
    color: wheat;
    text-align: center;
    font-weight: bolder;
    width: 300px;
    padding: 10px;
    margin-top: 30px;
    transition: all 07.s;
    cursor: pointer;
}
footer{
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
